<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="JavaScript/jquery.js"></script>
    <link rel="stylesheet" href="/stylesheet.css" >
    <style>
        body {
            background-image: url("MossyStoneBrick.jpg");
            color: white;
        }
        .jumbotron {
            background-image: url("wood2.jpg");
        }
        h1 {
            color: white;
        }
        h2 {
            color: white;
        }

        @font-face {
           font-family: myFirstFont;
           src: url(slkscr.ttf);
        }
        * {
           font-family: myFirstFont;
        }
        .btn-secondary {
          color: #ffffff;
          background-color: #611BBD;
          border-color: #130269;
        }
    </style>

  </head>
  <body class="battleBackground">
    <shopText>
      <div class="container">
        <div class="clearfix">
          <img class="enemygif" alt="ork_image" width="400" height="250" src="$enemy.get().gif"/>
            <h2>
              <div class="enemyInfo">
                <p><u>Enemy</u> : $enemy.get().username</p>
                <p>HP : <b id="enemy_hp">$enemy.get().health</b> </p>
                <p>Damage : $enemy.get().damage_limit | Defence : $enemy.get().defence</p>
              </div>
            </h2>
        </div>
      </div>

  <div class="container">
    <div class="clearfix">
      <h3>
          <img class="playergif" alt="player_image" width="400" height="300" src="$player.get().gif"/>
            <div class="playerInfo">
              <p><u>Player</u> : $player.get().username | Coins : $player.get().coins</p>
              <p>HP : $player.get().health | Health Potions : $player.get().healthPotions</p>
              <p>Poison Potions : $player.get().poisonPotions</p>
              <p>Damage : $player.get().damage_limit | Defence : $player.get().defence</p>
            </div>
      </h3>
      <nav>
        #foreach($log in $game.get().log)
          <p> $log </p>
        #end
      </nav>
            <div class="attack_button">
                  #if($enemy.get().is_alive.equals("true") && $player.get().is_alive.equals("true"))
                      <form action="/attack" method="POST">
                        <button class="btn btn-danger btn-lg" type="submit" id="playerAttack" value="Attack"> Attack </button>
                      </form>
                      #if($player.get().healthPotions > 0)
                        <form action="/usehealthpotion" method="POST">
                          <button class="btn btn-success btn-lg" type="submit" id="healing_potion" value="Use a Healing potion">Use a Healing potion</button>
                        </form>
                      #end
                      #if($player.get().poisonPotions > 0)
                        <form action="/usepoisonpotion" method="POST">
                          <button class="btn btn-secondary btn-lg" type="submit" id="poison_potion" value="Use a Poison potion">Use a Poison Potion</button>
                        </form>
                      #end
                  #end
                  #if($enemy.get().is_alive.equals("false") && $player.get().battles_won < 11)
                      <h3>You have defeated the enemy!</h3>
                      <h3>Go to the shop to upgrade and recover.</h3>
                      <form action="/shop" method="GET">
                          <input class="btn btn-primary btn-lg" type="submit" id="nextEnemy" value="Shop">
                      </form>
                  #end
                  #if($enemy.get().is_alive.equals("false") && $player.get().battles_won == 11)
                       <p>You have defeated the $enemy.get().username!</p>
                       <form action="/newbattle" method="GET">
                           <input class="btn btn-danger btn-lg" type="submit" id="nextEnemy" value="Return a victor!">
                       </form>
                  #end
                  #if($player.get().is_alive.equals("false"))
                      <h3>You lost!</h3>
                      <form action="/home" method="GET">
                          <input class="btn btn-danger btn-lg" type="submit" id="playerAttack" value="Home">
                      </form>
                  #end

            </div>
        </div>
      </div>
    </shopText>
  </body>
</html>
