<!DOCTYPE html>
<html>
  <head>

    <title>Makers and Mortals</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheet.css" >
  </head>
  <body class="class">
  <style>

@font-face {
   font-family: myFirstFont;
   src: url(slkscr.ttf);
}
* {
   font-family: myFirstFont;
}
  </style>
  <div>
  <classpagetext>

<classtitle>
  <img src="Choose a Class.png" alt="classtitle" width="900" height="200">
</classtitle>

  </div>
<placeholder>-----------------</placeholder>
                   <form action="/wizzardclass" method="POST">
                     <input type="image" src="Wizard_Character.gif" alt="Submit" width="334" height="462" id="wizzardclass">
                   </form>

                   <wizzardtext> + Poison Potions </wizzardtext>

                   <form action="/archerclass" method="POST">
                     <input type="image" src="archer.gif" alt="Submit" width="500" height="462" id="archerclass">
                   </form>

                    <archertext> + Damage | - Health </archertext>

                   <form action="/knightclass" method="POST">
                     <input type="image" src="Knight_idle.gif" alt="Submit" width="500" height="462" id="knightclass">
                   </form>

                    <knighttext> + Defence | - Damage </knighttext>




    </classpagetext>
  </body>

