<!DOCTYPE html>
<html>
  <head>

    <title>How To Play</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheet.css" >
  </head>
  <style>
          @font-face {
             font-family: myFirstFont;
             src: url(slkscr.ttf);
          }
          * {
             font-family: myFirstFont;
          }

  </style>
  <body>
  <shopText>
     <h1 style="color:transparent">Welcome to Makers and Mortals, $username</h1>
    <htptitle><u>How to Play</u></htptitle>
<div class="wood">
<img src="images/logo.gif" alt="logo" width="500" height="100">
<howtoplayhome>
                     <form action="/home" method="GET">
                        <input class="btn btn-secondary" type="submit" id="sign_out" value="Home">
                     </form>
</howtoplayhome>
<howtoplaytxt>
<p>
The aim of the game is to get to the Final Boss and defeat it.
<br>
<br>
First you will need to Sign Up, then Sign In and finally Choose a Class.
<br>
<br>
Each class has different stats that affect their play-style although with progression you can upgrade them.
<br>
<br>
Health = How many hit points your player has.
<br>
Damage = Your random damage output from 0 to the Damage value
<br>
Defence = Is the chance that you have to block an attack, e.g 0.1 is a 10% chance.
<br>
<br>
You will then enter a battle to the death, where you will take it in turns to attack each other
<br>
<br>
Each enemy you defeat will drop a certain amount of coins for you to use in the Shop.
<br>
<br>
After Each enemy you will go to the shop to upgrade your stats and spend your coins.
<br>
<br>
Potions are available to buy in the shop that can be used during battle.
<br>
<br>
There is a 10% chance an enemy will drop a key so that you can open the chest in the shop.
<br>
<br>
You gain score for: Defeating enemies, Having lots of Health, Using less Potions, getting Critical Hits and having coins left over at the end of the game. So spend them wisely!
<br>
<br>
You can see your score compared to others on the global leaderboard!
<br>
<br>
<br>
good luck!!
</p>
</howtoplaytxt>
</div>
     </shopText>
     <bluebanner>
         <img class="banners" alt="blue banner" width="384" height="640" src="images/Blue Banner.png"/>
     </bluebanner>

     <redbanner>
         <img class="banners" alt="red banner" width="384" height="640" src="images/Red Banner.png"/>
     </redbanner>
  </body>
</html>