<!DOCTYPE html>
<html>
  <head>

    <title>Makers and Mortals</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheet.css" >
  </head>
  <style>
          @font-face {
             font-family: myFirstFont;
             src: url(slkscr.ttf);
          }
          * {
             font-family: myFirstFont;
          }

  </style>
  <body class="lost">
  <shopText>
<h1 style="text-align: center;">$username, you died!</h1>
<div class="win_center">

                   <h2 id="high_score">High Score : $high_score</h2>
                   <br>
                   <h2 id="current_score">Your score this journey : $current_score</h2>



                   <form action="/home" method="GET">
                     <input class="btn btn-secondary" type="submit" id="sign_out" value="Home">
                   </form>

                    </div>
     </shopText>
  </body>
</html>
