<!DOCTYPE html>
<html>
  <head>

    <title>Makers and Mortals</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheet.css" >
  </head>
  <body>
  <style>



  </style>
    <h1>Welcome to the Shop, $username</h1>
        <h2>What would you like to increase?</h2>
        <h3>Your Balance: $player.coins | Health: $player.health HP | Damage: $player.damage_limit | Defence: $player.defence</h3>
        <h3>Your inventory: Health Potions: $player.healthPotions</h3>

<div class="shelf">
                   <form action="/health" method="POST">
                     <input type="image" src="heartwithplus.gif" alt="Submit" width="75" height="75" id="health" >
                   </form>

                   <form action="/healthPotion" method="POST">
                     <input type="image" src="bubblingpotion.gif" alt="Submit" width="90" height="100" id="healthpotion">
                   </form>

                   <form action="/damage" method="POST">
                     <input type="image"  src ="Sword.gif" alt="Submit" width="120" height="120" id="damage">
                   </form>

                    <form action="/defence" method="POST">
                      <input type="image" src="Sheild1-2.gif" alt="Submit"  width="140" height="100" id="defence">
                    </form>
</div>
<div class="hpotiontext">Health Potion <br> Costs: 20 coins</div>
<div class="healthtext">Instant Health <br> Costs: 10 coins</div>
<div class="damagetext">Increase Damage <br> Costs: 10 coins</div>
<div class="defencetext">Increase Defence <br> Costs: 10 coins</div>
  </body>

</html>