<!DOCTYPE html>
<html>
  <head>

    <title>Makers and Mortals</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheet.css" >
  </head>
  <body class="shop">
  <style>

@font-face {
   font-family: myFirstFont;
   src: url(slkscr.ttf);
}
* {
   font-family: myFirstFont;
}
  </style>
  <div class="shopInfo" style="color: black;">
  <shopText>
  <infoText>
    Welcome to the Shop, $username<br>
    What would you like to increase?<br>
    Your Coins: $player.get().coins | Health: $player.get().health HP | Damage: $player.get().damage_limit | Defence: $player.get().defence<br>
    Your inventory: Health Potions: $player.get().healthPotions | Poison Potions: $player.get().poisonPotions
    </infoText>
  </div>
<div class="shelf">
                   <form action="/health" method="POST">
                     <input type="image" src="items/heartwithplus.gif" alt="Submit" width="75" height="75" id="health" >
                   </form>

                    <div class="healthtext">Instant Health <br> Costs: 10 coins</div>

                   <form action="/healthPotion" method="POST">
                     <input type="image" src="items/bubblingpotion.gif" alt="Submit" width="90" height="100" id="healthpotion">
                   </form>

                    <div class="hpotiontext">Health Potion <br> Costs: 20 coins</div>

                   <form action="/poisonPotion" method="POST">
                     <input type="image" src="items/bubblingpotionpoison.gif" alt="Submit" width="90" height="100" id="poisonPotion">
                   </form>

                    <div class="ppotiontext">Poison Potion <br> Costs: 20 coins</div>

                   <form action="/damage" method="POST">
                     <input type="image"  src ="items/Sword.gif" alt="Submit" width="120" height="120" id="damage">
                   </form>

                    <div class="damagetext">Increase Damage <br> Costs: 10 coins</div>

                    <form action="/defence" method="POST">
                      <input type="image" src="items/Sheild.gif" alt="Submit"  width="120" height="80" id="defence">
                    </form>

                    <div class="defencetext">Increase Defence <br> Costs: 10 coins</div>

                        <knight>
                            <img src="images/Store_Knight.gif" alt="Knight" width="240" height="230">
                        </knight>

                         <toBattle>
                                <form action="/newbattle" method="GET">
                                    <input type="image" src="images/ToBattle.gif" alt="Submit"  width="150" height="150" id="toBattle">
                                </form>
                            </toBattle>
                            #if($player.get().num_keys > 0)
                            <form action="chest" method="POST">
                               <img class="keygif" alt="Submit" width="200" height="150" src="items/key.gif"/>
                            <form>
                            #end
                            <img class="chest" width="400" height="300" src="images/chest.gif"/>
                            #if($player.get().chest_reward == "health")
                                <img class="health_chest" width="400" height="300" src="images/healthChest.gif"/>
                            #end
                            #if($player.get().chest_reward == "damage")
                                <img class="damage_chest" width="400" height="300" src="images/damageChest.gif"/>
                            #end
                            #if($player.get().chest_reward == "defence")
                                <img class="defence_chest" width="400" height="300" src="images/defenceChest.gif"/>
                            #end

</div>
    </shopText>
  </body>

</html>