<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheet.css" >
        <title>Sign Up</title>
    </head>
    <style>
            @font-face {
               font-family: myFirstFont;
               src: url(slkscr.ttf);
            }
            * {
               font-family: myFirstFont;
            }
    </style>
    <body>

        <signtitle>Sign Up for Battle!</signtitle>
<div class="buttons">
<homebutton>
                           <form action="/home" method="POST">
                             <input class="navigation" type="submit" name="timeline" value="Home">
                           </form>
</homebutton>
<signinbutton>
                           <form action="/sign_in" method="POST">
                             <input class="navigation" type="submit" name="sign_in" value="Sign in">
                           </form>
</signinbutton>
<signupbutton>
                            <form action="/sign_up" method="POST">
                              <input class="navigation" type="submit" name="sign_up" value="Sign Up">
                            </form>
</signupbutton>
<signoutbutton>
                            <form action="/sign_out" method="POST">
                              <input class="navigation" type="submit" name="sign_out" value="Sign out">
                            </form>
</signoutbutton>
<div class="filloutsignup">
        <form action="/signed_up" method="POST">
        <usernameinput>
            <em>Username</em>
        </usernameinput>
            <br>
            <input type="text" name="username">
            <br>
            <br>
        <fullnameinput>
            <em>Full name</em>
        </fullnameinput>
            <br>
            <input type="text" name="full_name">
            <br>
            <br>
        <passwordinputup>
            <em>Password</em>
        </passwordinputup>
            <br>
            <input type="password" name="password">
            <br>
            <br>
        <signsubmitup>
            <input type="submit" value="Submit">
        </signsubmitup>
        </form>
</div>
</div>

<bluebanner>
    <img class="banners" alt="blue banner" width="384" height="640" src="images/Blue Banner.png"/>
</bluebanner>

<redbanner>
    <img class="banners" alt="red banner" width="384" height="640" src="images/Red Banner.png"/>
</redbanner>

    </body>
</html>