body {
background-image: url("backgrounds/MossyStoneBrick.jpg");
}

#home {
position:absolute;
  left: 25%;
  top: 40%;
  width: 50%;
  text-align: center;
  font-size: 18px;
}
#sign_in{
position:absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#sign_up{

position:absolute;
  left: 25%;
  top: 60%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}

#new_game{

position:absolute;
  left: 25%;
  top: 40%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}

#new_game2{

position:absolute;
  left: 25%;
  top: 90%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#sign_out{
position:absolute;
  left: 25%;
  top: 70%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#class{
position:absolute;
  left: 25%;
  top: 80%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}

    .wood {
      margin: auto;
      background-image: url("images/wood2.jpg");
      border-radius: 20px;
      padding: 365px;
      width: 200px;
      height: 100px;
      text-align: right;

    }

    .wood img {
 position: absolute;
    top: 150px;
    left: 485px;
    }

#health{
position:absolute;
  left: 13%;
  top: 8%;

  text-align: center;
  font-size: 18px;

}
#damage{
position:absolute;
  left: 11%;
  top: 21%;
  text-align: center;
  font-size: 18px;

}

#defence{
position:absolute;
  left: 13%;
  top: 40%;
  text-align: center;
  font-size: 18px;

}

#healthpotion{
position:absolute;
   left: 45%;
      top: 6%;
   text-align: center;
   font-size: 18px;

}

#poisonPotion{
position:absolute;
   left: 45%;
   top: 22%;
   text-align: center;
   font-size: 18px;

}

.hpotiontext {
       position: absolute;
       font-size: 13px;
       top: 10%;
       left: 55%;

       color: #ffffff;

 }
 .healthtext {
         position: absolute;
         font-size: 13px;
         top: 10%;
         left: 25%;
         color: #ffffff;
   }
.damagetext {
      position: absolute;
      font-size: 13px;
         top: 27%;
         left: 25%;

      color: #ffffff;
}

.ppotiontext {
       position: absolute;
       font-size: 13px;
        top: 27%;
        left: 55%;
       color: #ffffff;
 }
.defencetext {
      position: absolute;
      font-size: 13px;
      top: 44%;
      left: 30%;
      color: #ffffff;
}

.shelf {
       position: absolute;
       background-image: url("images/shelf.png");
       background-repeat: no-repeat;
       background-size: 630px 430px;
       border-radius: 20px;
       padding: 365px;
       width: 200px;
       height: 100px;
       left: 53%;
       top: 150%;

}

knight{
position: absolute;

top: 30%;
left: 69%;

}

.shop{
position: fixed;
background-image: url("backgrounds/BackgroundShop.png");
background-repeat: no-repeat;
background-size: 1600px 850px;
}

shopText{
color: #ffffff;
letter-spacing: -2px;
}

toBattle{
position: absolute;
top:-45%;
left: 104%;

}



.battleBackground{
position: fixed;
background-image: url("backgrounds/Battle_Background.png");
background-repeat: no-repeat;
background-size: 1500px 850px;
}

.playergif{
    position: absolute;
    left: 18%;
    top: 675%;
}

.enemygif{
    position: absolute;
    left: 80%;
    top: 190%;
}

.shopInfo {
       background-image: url("images/woodPlank.png");
       width: 750px;
       height: 250px;
       background-repeat: no-repeat;
       font-size: 22px;
       text-align: center;
       vertical-align: middle;
       line-height: 50px;
       font-color: black;
}

infoText{
color: black;
letter-spacing: -2px;
}

.enemyInfo{
    position: absolute;
    width: 500px;
    height: 200px;
    left: 19%;
    top: 118%;
}
.playerInfo{
    position: absolute;
    width: 500px;
    height: 200px;
    left: 64%;
    top: 1270%;
    font-color: #000000;
}

.attack_button{
    position: absolute;
    top: 1700%;
}

.selectClassBackground{
position: fixed;
background-image: url("backgrounds/Choose_your_class.png");
background-repeat: no-repeat;
background-size:1500px 850px;
}

#wizzardclass{
position:absolute;
  left: 575%;
  top: 1450%;
}

#archerclass{
position:absolute;
  left: 325%;
  top: 1450%;

}

#knightclass{
position:absolute;
  left: 45%;
  top: 1450%;

}

classpagetext{
color: ffffff;
letter-spacing: -2px;
}

knighttext{
position: absolute;
top: 2800%;
left: 55%;
font-size: 25px;
width: 400px;
color: white;
}

archertext{
position: absolute;
top: 2800%;
left: 350%;
font-size: 25px;
width: 400px;
color: white;
}

wizzardtext{
position: absolute;
top: 2800%;
left: 625%;
font-size: 25px;
width: 400px;
color: white;
}

placeholder{
color: transparent;
}

classtitle{
position: absolute;

top: 70%;
left: 170%;

}

signtitle{
font-size: 60px;
position: absolute;
top: 100px;
left: 402px;
text-decoration: underline;
color: white;
}

signtitledone{
font-size: 60px;
position: absolute;
top: 100px;
left: 270px;
text-decoration: underline;
color: white;
}

homebutton{
position: absolute;
top: 60px;
left: 15px;
font-size: 25px;
color: black;

}

signinbutton{
position: absolute;
top: 60px;
left: 115px;
font-size: 25px;
color: black;
}

signupbutton{
position: absolute;
top: 60px;
left: 251px;
font-size: 25px;
color: black;
}
signoutbutton{
position: absolute;
top: 60px;
left: 395px;
font-size: 25px;
color: black;
}

fillindetails{
position: absolute;
top: 160px;
left: 130px;
}

.buttons{
position: absolute;
top: 130px;
left: 425px;
}

usernameinput{
font-size: 24px;
position: absolute;
left: 54px;
top: -8px;
color: white;
}

passwordinput{
font-size: 24px;
position: absolute;
left: 54px;
top: 56px;
color: white;
}

passwordinputup{
font-size: 24px;
position: absolute;
left: 54px;
top: 122px;
color: white;
}

fullnameinput{
font-size: 24px;
position: absolute;
left: 54px;
top: 56px;
color: white;
}

signsubmit{
position: absolute;
font-size: 24px;
top: 120px;
left: 65px;
color: black;
}

signsubmitup{
position: absolute;
font-size: 24px;
top: 190px;
left: 65px;
color: black;
}
.fillindetails{
position: absolute;

top: 140px;
left: 155px;
}

.filloutsignup{
position: absolute;
top: 140px;
left: 160px;
}

nav {
position: absolute;
height: 150px;
width: 628px;
top: 1669%;
left: 68%;
overflow: hidden;
overflow-y: scroll;
font-size: 20px;
}

bluebanner{

position: absolute;
top: 100px;
left: 10px;
}

redbanner{

position: absolute;
top: 100px;
left: 1030px;
}

#new_game{
position: absolute;
top: 200px;
left: 451px;
 width: 500px;
 height: 250px;
}

userssignedin{
position: absolute;
top: 10px;
left: 10px;
font-size: 40px;
}

.keygif{
position:absolute;
left: -250px;
top: 0px;
}
.chest{
position:absolute;
left: -400px;
top: 200px;
}
