body {
background-image: url("MossyStoneBrick.jpg");
}

#home {
position:absolute;
  left: 25%;
  top: 40%;
  width: 50%;
  text-align: center;
  font-size: 18px;
}
#sign_in{
position:absolute;
  left: 25%;
  top: 50%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#sign_up{

position:absolute;
  left: 25%;
  top: 60%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#sign_out{
position:absolute;
  left: 25%;
  top: 70%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}
#battle{
position:absolute;
  left: 25%;
  top: 80%;
  width: 50%;
  text-align: center;
  font-size: 18px;

}

    .wood {
      margin: auto;
      background-image: url("wood2.jpg");
      border-radius: 20px;
      padding: 365px;
      width: 200px;
      height: 100px;
      text-align: right;

    }

    .wood img {
 position: absolute;
    top: 150px;
    left: 485px;
    }

#health{
position:absolute;
  left: 13%;
  top: 8%;

  text-align: center;
  font-size: 18px;

}
#damage{
position:absolute;
  left: 11%;
  top: 21%;
  text-align: center;
  font-size: 18px;

}

#defence{
position:absolute;
  left: 13%;
  top: 40%;
  text-align: center;
  font-size: 18px;

}

#healthpotion{
position:absolute;
   left: 45%;
      top: 6%;
   text-align: center;
   font-size: 18px;

}

#poisonPotion{
position:absolute;
   left: 45%;
   top: 22%;
   text-align: center;
   font-size: 18px;

}

.hpotiontext {
       position: absolute;
       font-size: 15px;
      left: 90%;
      top: 250%;
       color: #ffffff;
       width: 120px;
 }
 .healthtext {
         position: absolute;
         font-size: 15px;
         left: 65%;
           top: 250%;
         color: #ffffff;
   }
.damagetext {
      position: absolute;
      font-size: 15px;
      left: 65%;
                 top: 315%;
      color: #ffffff;
}

.ppotiontext {
       position: absolute;
       font-size: 15px;
       left: 90%;
          top: 315%;
          width: 120px;
       color: #ffffff;
 }
.defencetext {
      position: absolute;
      font-size: 15px;
     left: 69%;
                      top: 380%;
      color: #ffffff;
}

.shelf {
       position: absolute;
       background-image: url("shelf.png");
       background-repeat: no-repeat;
       background-size: 630px 430px;
       border-radius: 20px;
       padding: 365px;
       width: 200px;
       height: 100px;
       left: 42%;
       top: 210%;

}

knight{
position: absolute;
left: 100%;
top: 310%;
}

.shop{
position: fixed;
background-image: url("BackgroundShop.png");
background-repeat: no-repeat;
background-size: 1600px 850px;
}

shopText{
color: #ffffff;
letter-spacing: -2px;
}

toBattle{
position: absolute;
left: 133%;
top: 47%;
}

.battleBackground{
position: fixed;
background-image: url("Battle_Background.png");
background-repeat: no-repeat;
background-size: 1500px 850px;
}